<div id="article_show_page" class="wrapper_padding skinny_wrapper">
  <p class="date"><%= @article.updated_at.strftime("%d %B") %></p>
  <h1><%= @article.title %></h1>
  <hr>
  <div id="content">
    <%= markdown(@article.body) %>
  </div>

  <hr>

  <div id="share_box">
    <p>Shared the <%= @article.title %></p>
    <a href="#" onclick="javascript:window.open('https://twitter.com/share?text=<%= @article.title %> by @OmgGoG - ', '_blank', 'width=800, height=500, top=200, left=300');"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    <a href="#" onclick="javascript:window.open('https://facebook.com/sharer/sharer.php?u=<%= article_url %>&title=<%= @article.title %>', '_blank', 'width=800, height=500, top=200, left=300');"><i class="fab fa-facebook" aria-hidden="true"></i></a>
    <a href="#" onclick="javascript:window.open('https://plus.google.com/share?url=<%= article_url %>', '_blank', 'width=800, height=500, top=200, left=300');"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
    <hr>
  </div>

  <% if current_user %>
    <div id="manage">
      <%= link_to 'Delete', @article, class: 'm_button', method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Edit', edit_article_path(@article), class: 'm_button' %>
    </div>
  <% end %>
  <%= render 'comments' %>
</div>
