<div id="article_show_page" class="wrapper_padding skinny_wrapper">
  <p class="date"><%= @article.updated_at.strftime("%d %B") %></p>
  <h1><%= @article.title %></h1>
  <hr>
  <div id="content">
    <%= markdown(@article.body) %>
  </div>
  
  <hr>

  <div id="share_box">
    <p>How i make Blog</p> 
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    <hr>
  </div>
  
  <div id="manage">
    <%= link_to 'Delete', @article, class: 'm_button', method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Edit', edit_article_path(@article.id), class: 'm_button' %>
  </div>
  

</div> 
