<!DOCTYPE html>
<html>
  <head>
    <title>KingCode</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter48382280 = new Ya.Metrika({
                        id:48382280,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/48382280" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </head>

  <body>
    <header id='main_nav' class='clearfix'>
      <a class='name' href="<%= root_path %>">
        <i class='fa fa-desktop' aria-hidden='true'></i>
        KingCode
      </a>
      <nav>
        <a href="<%= articles_path %>">Articles</a>
        <a href="<%= projects_path %>">Projects</a>
        <a href="<%= new_contact_path %>">Contact</a>
        <% if current_user %>
          <%= link_to 'Logout', logout_path %>
        <% end %>
      </nav>
    </header>
    <%= yield %>
    <footer id='footer'>
      <p class="copyright"><i class="far fa-copyright"></i> 2018 - KingCode
      </p>
      <nav>
        <a href="http://twitter.com/OmgGoG" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        <a href="http://github.com/lHydra" target="_blank"><i class="fab fa-github-alt" aria-hidden="true"></i></a>
        <a href="http://vk.com/OmgGoG" target="_blank"><i class="fab fa-vk" aria-hidden="true"></i></a>
      </nav>
    </footer>
  </body>
</html>
