<!DOCTYPE html>
<html>
  <head>
    <title>KingCode</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main_nav" class="clearfix">
      <a class="name" href="<%= root_path %>">KingCode</a>
      <nav>
	<a href="<%= articles_path %>">Articles</a>
	<a href="Projects">Projects</a>
	<a href="<%= contact_path %>">Contact</a>
      </nav>
    </header>
    <%= yield %>
    <footer id="footer">
      <p class="copyright">&copy;2016 KingCode</p>
      <nav>
	<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	<a href="http://github.com/lHydra"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
	<a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
      </nav>
    </footer>
  </body>
</html>
